<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/adminlayout">
<head>
<meta charset="ISO-8859-1">
<title>List-User</title>
</head>
<body>
	<div layout:fragment="content">
		<h1  th:text="#{ro}" style="font-family: 'Khmer OS Battambang';">Role information</h1>
		 <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-overflow-container">
                        <table class="uk-table">
                            <caption>Role List</caption>
                            <thead>
                            <tr>
                                <th th:text="#{id}" style="font-family: 'Khmer OS Battambang'; color: red;font-size:19px; ">ID User</th>
                                <th th:text="#{name1}" style="font-family: 'Khmer OS Battambang';color: red;font-size:19px; ">Name</th>
                                <th th:text="#{role}" style="font-family: 'Khmer OS Battambang';color: red;font-size:19px; ">Role</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>2</td>
                                <td>Sokheng</td>
                                <td>Back office</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Bunnam</td>
                                <td>Deverloper</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mony</td>
                                <td>Back end</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Neka</td>
                                <td>Back end</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h1 th:text="#{thank}" style="font-family: 'Khmer OS Battambang';color:red;font-size:35px;text-align: center;">Thank You....</h1>
	 </div>
</body>
</html>